<template name="signUpButton">
  <div class="btn amber darken-3 waves-effect waves-light">
    <a class="modal-trigger" href="#signup">Sign Up</a>
  </div>
</template>

<template name="navSignUp">
  <!-- Modal Trigger -->
  <a class="modal-trigger" href="#signup">Sign Up</a>
</template>

<template name="signInButton">
  {{#if currentUser}}
  <a class="logout waves-effect waves-light">Sign Out</a>
  {{else}}
  <a class="modal-trigger waves-effect waves-light" href="#signin">Sign In</a>
  {{/if}}
</template>