<template name="postsList">
  <div class="row">
    {{#ifEsInputIsEmpty index="posts"}}
      {{> landing}}
    {{/ifEsInputIsEmpty}}
  </div>
  <div class="container">
    <div class="row">
      {{#esEach index="posts"}}
      <div class="col s12 m6 l4">
        <div class="card medium">
          {{> postItem}}
        </div>
      </div>
      {{/esEach}}
    </div>
    <div class="row">
      {{> esLoadMoreButton index="posts"}}
    </div>
  
  
    {{#ifEsHasNoResults index="posts"}}
        <h3 class="center-align">Sorry, but there were no classes found.</h3>
    {{/ifEsHasNoResults}}
  
    {{#ifEsIsSearching index="posts"}}
            <div>{{> loading}}</div>
    {{/ifEsIsSearching}}
  </div>
</template>