<template name="postForm">
   <form>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>General Information</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="input-field col s12 m6">
                  <label for="title" data-error="wrong">Title</label>
                  <input name="title" id="title" type="text" class="validate">
              </div>
              <div class="input-field col s12 m6">
                  <label for="price" data-error="wrong">Price</label>
                  <input name="price" id="price" type="text" class="validate">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                  <textarea name="description" id="description" type="text" class="materialize-textarea"></textarea>
                  <label for="description">Description</label>
              </div>

            </div>
          </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">access_time</i>Time & Date</div>
        <div class="collapsible-body">
          <div class="row">
              <div class="input-field col s6">
                  <label for="startDate">Start Date</label>
                  <input name="startDate" id="startDate" type="text" class="datepicker"/>
              </div>
              <div class="input-field col s6">
                  <label for="endDate">End Date</label>
                  <input name="endDate" id="endDate" type="text" class="datepicker"/>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                <label for="startTime">Start Time</label>
                <input name="startTime" id="startTime" type="text" class="pick-a-time"/>
            </div>
            <div class="input-field col s6">
                <label for="endTime">End Time</label>
                <input name="endTime" id="endTime" type="text" class="pick-a-time"/>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Location</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="input-field col s12">
                <label for="address1">Address 1</label>
                <input name="address1" id="address1" type="text" value=""/>
            </div>
            <div class="input-field col s12">
                <label for="address2">Address 2</label>
                <input name="address2" id="address1" type="text" value=""/>
            </div>
            <div class="input-field col s5">
                <label for="city">City</label>
                <input name="city" id="city" type="text" value=""/>
            </div>
            <div class="input-field col s3">
                <label for="state">State</label>
                <input name="state" id="state" type="text" value=""/>
            </div>
            <div class="input-field col s4">
                <label for="zip">Zip Code</label>
                <input name="zip" id="zip" type="text" value=""/>
            </div>
          </div>
        </div>
      </li>
    </ul>
  <div class="row">
    <center><input type="submit" value="Submit" class="btn">{{#if ownPost}}<a class="btn red delete">Delete</a>{{/if}}</center>
  </div>
</form>
</template>

<!--<form>-->
<!--    <ul class="collapsible popout" data-collapsible="accordion">-->
<!--      <li>-->
<!--        <div class="collapsible-header"><i class="material-icons">filter_drama</i>General Information</div>-->
<!--          <div class="collapsible-body">-->
<!--            <div class="row">-->
<!--              <div class="input-field col m6">-->
<!--                  <label for="title" data-error="wrong">Title</label>-->
<!--                  <input name="title" id="title" type="text" class="validate">-->
<!--              </div>-->
<!--              <div class="input-field col m6">-->
<!--                  <label for="price" data-error="wrong">Price</label>-->
<!--                  <input name="price" id="price" type="text" class="validate">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="input-field col m12">-->
<!--                  <textarea name="description" id="description" type="text" class="materialize-textarea"></textarea>-->
<!--                  <label for="description">Description</label>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>-->
<!--        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>-->
<!--        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  <div class="row">-->
<!--    <center><input type="submit" value="Submit" class="btn"></center>-->
<!--  </div>-->
    <!--<div class="row">-->
    <!--    <div class="col m10 offset-m1">-->
    <!--        <div class="card">-->
    <!--            <div class="card-title grey-text text-darken-4 center">-->
    <!--                Open A New Class-->
    <!--            </div>-->
    <!--            <div class="card-content">-->
    <!--                <form>-->
    <!--                    <div class="row">-->
    <!--                        <div class="input-field col s12">-->
    <!--                            <label for="title" data-error="wrong">Title</label>-->
    <!--                            <input name="title" id="title" type="text" class="validate">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="row">-->
    <!--                        <div class="input-field col s6">-->
    <!--                            <label for="startDate">Start Date</label>-->
    <!--                            <input name="startDate" id="startDate" type="text"/>-->
    <!--                        </div>-->
    <!--                        <div class="input-field col s6">-->
    <!--                            <label for="endDate">End Date</label>-->
    <!--                            <input name="endDate" id="endDate" type="text"/>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="row">-->
    <!--                        <div class="input-field col s6">-->
    <!--                            <label for="startTime">Start Time</label>-->
    <!--                            <input name="startTime" id="startTime" type="text" value=""/>-->
    <!--                        </div>-->
    <!--                        <div class="input-field col s6">-->
    <!--                            <label for="endTime">End Time</label>-->
    <!--                            <input name="endTime" id="endTime" type="text" value=""/>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="row">-->
    <!--                        <div class="input-field col s12">-->
    <!--                            <label for="address1">Address 1</label>-->
    <!--                            <input name="address1" id="address1" type="text" value=""/>-->
    <!--                        </div>-->
    <!--                        <div class="input-field col s12">-->
    <!--                            <label for="address2">Address 2</label>-->
    <!--                            <input name="address2" id="address1" type="text" value=""/>-->
    <!--                        </div>-->
    <!--                        <div class="input-field col s5">-->
    <!--                            <label for="city">City</label>-->
    <!--                            <input name="city" id="city" type="text" value=""/>-->
    <!--                        </div>-->
    <!--                        <div class="input-field col s3">-->
    <!--                            <label for="state">State</label>-->
    <!--                            <input name="state" id="state" type="text" value=""/>-->
    <!--                        </div>-->
    <!--                        <div class="input-field col s4">-->
    <!--                            <label for="zip">Zip Code</label>-->
    <!--                            <input name="zip" id="zip" type="text" value=""/>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="row">-->
    <!--                        <div class="input-field col s12">-->
    <!--                            <label for="price" >Price</label>-->
    <!--                            <input name="price" id="price" type="text" value=""/>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="row">-->
    <!--                        <div class="input-field col s12">-->
    <!--                              <textarea name="description" id="description" type="text" class="materialize-textarea"></textarea>-->
    <!--                              <label for="description">Description</label>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="row">-->
    <!--                        <center><input type="submit" value="Submit" class="btn"></center>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
<!--  </form>-->