<template name="postsList">
  <div class="row">
    {{#ifEsInputIsEmpty index="posts"}}
      {{> landing}}
    {{/ifEsInputIsEmpty}}
  </div>
  <ul class="collection">
    {{#esEach index="posts"}}
  		{{> postListItem}}
    {{/esEach}}
  </ul>

  <div class="row">
    {{> esLoadMoreButton index="posts"}}
  </div>


  {{#ifEsHasNoResults index="posts"}}
      <h3 class="center-align">Sorry, but there were no classes found.</h3>
  {{/ifEsHasNoResults}}

  {{#ifEsIsSearching index="posts"}}
          <div>{{> loading}}</div>
  {{/ifEsIsSearching}}

</template>