<template name="classItem">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>{{title}}<small> - {{zipCode}}</small></h4>  {{startDate}}-{{endDate}}
		</div>
		<div class="panel-body" style="min-height: 200px; max-height: 200px;">
			<center><p>{{startTime}} - {{endTime}}</p></center>
			<center><p>{{address}}</p></center>
			<p>{{description}}</p>
		</div>
		<div class="panel-footer">
			<a href="{{pathFor 'classPage'}}" class="btn btn-success">Details</a>
			<a href="{{pathFor 'classPage'}}" class="btn btn-primary pull-right">Join Class</a>
		</div>
	</div>
</template>