<template name="classSubmit">
    <div class="row">
        <div class="col m8 offset-m2">
            <div class="card">
                <div class="card-title grey-text text-darken-4 center">
                    Open A New Class
                </div>
                <div class="card-content">
                    <form>
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="title" type="text"/>
                              <label for="title">Title</label>
                            </div>
                            <input type="submit" value="Submit" class="btn green"/>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>