<template name="landingIn">
  <div class="container">
    <div class="row">
      <h1 class="center-align">Welcome to Your Class!</h1>
    </div>
    <div class="row">
      <div class="col m6">
        <h3>First Timer</h3>
        <p>
          Click/tap the <i class="material-icons">menu</i> at the top left and search classes.
        </p>
        <p>
          To submit a class find the floating <i class="material-icons">add_circle</i> button at the bottom right hover over it (tap if using mobile) and click/tap the <i class="material-icons">access_time</i> to start the process.
        </p>
      </div>
      <div class="col m6">
        <h3>New Features</h3>
        <p>
          We have added a new comment feature to every class. Now you can answer questions about classes you are instructing or ask questions about classes you are interested.
        </p>
        <p>
          You can see all the notifications through the <i class="material-icons">notifications</i> button at the top right.
        </p>
      </div>
    </div>
  </div>
</template>