<template name="landingOut">
  <div class="row">
    <div class="slider">
      <ul class="slides">
        <li>
          <img class="responsive-img" src="/images/photo-1431578500526-4d9613015464.jpg">
          <div class="caption center-align">
            <h3>WELCOME TO YOUR CLASS</h3>
            <h5 class="light grey-text text-lighten-3">Find out what you can learn</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="center-align">
      <h4>Find local experts who can teach you something</h4>
      <h5>Discover your new passion</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="slider">
      <ul class="slides">
        <li>
          <img class="responsive-img" src="/images/download4.jpeg">
          <div class="caption left-align">
            <h3>LEARN WHAT YOU WANT</h3>
            <h5 class="light grey-text text-lighten-3">From an expert in the field</h5>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="/images/download5.jpeg">
          <div class="caption left-align">
            <h3>PICK UP A NEW SKILL OR HOBBY</h3>
            <h5 class="light grey-text text-lighten-3">Develop skills that improve your life</h5>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="/images/download6.jpeg">
          <div class="caption left-align">
            <h3>KNOWLEDGE ON DEMAND</h3>
            <h5 class="light grey-text text-lighten-3">Learn around your schedule</h5>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="/images/download3.jpeg">
          <div class="caption left-align">
            <h3>IT'S NEVER TOO LATE OR EARLY</h3>
            <h5 class="light grey-text text-lighten-3">Classes for everyone at any skill level at any age</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

