<template name="landingOut">
  <!--<div class="row">-->
  <!--  <div class="slider">-->
  <!--    <ul class="slides">-->
  <!--      <li>-->
  <!--        <img class="responsive-img" src="/images/photo-1431578500526-4d9613015464.jpg">-->
  <!--        <div class="caption center-align">-->
  <!--          <h3>WELCOME TO YOUR CLASS</h3>-->
  <!--          <h5 class="light grey-text text-lighten-3">Find out what you can learn</h5>-->
  <!--        </div>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--  <div class="center-align">-->
  <!--    <h4>Find local experts who can teach you something</h4>-->
  <!--    <h5>Discover your new passion</h5>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--  <div class="col s4">-->
  <!--    <div class='center-align'>-->
  <!--      <i class="large material-icons">insert_chart</i>-->
  <!--      <h5></h5>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="col s4">-->
  <!--    <div class='center-align'>-->
  <!--      <i class="large material-icons">credit_card</i>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="col s4">-->
  <!--    <div class='center-align'>-->
  <!--      <i class="large material-icons">school</i>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <div class="row">
    <div class="slider">
      <ul class="slides">
        <li>
          <img class="responsive-img" src="/images/download4.jpeg">
          <div class="caption left-align">
            <h3>LEARN WHAT YOU WANT</h3>
            <h5 class="light grey-text text-lighten-3">From an expert in the field</h5>
              <div class="btn amber darken-3">
                <span class="white-text">{{> signUpButton}}</span>
              </div>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="/images/download5.jpeg">
          <div class="caption left-align">
            <h3 class="grey-text text-text-darken-5">PICK UP A NEW SKILL OR HOBBY</h3>
            <h5 class="light grey-text text-darken-5">Develop skills that improve your life</h5>
              <div class="btn amber darken-3 ">
                <span class="white-text">{{> signUpButton}}</span>
              </div>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="/images/download6.jpeg">
          <div class="caption left-align">
            <h3>KNOWLEDGE ON DEMAND</h3>
            <h5 class="light grey-text text-lighten-3">Learn around your schedule</h5>
              <div class="btn amber darken-3">
                <span class="white-text">{{> signUpButton}}</span>
              </div>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="/images/download3.jpeg">
          <div class="caption left-align">
            <h3>IT'S NEVER TOO LATE OR EARLY</h3>
            <h5 class="light grey-text text-lighten-3">Classes for everyone at any skill level at any age</h5>
              <div class="btn amber darken-3">
                <span class="white-text">{{> signUpButton}}</span>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col m6">
        <h4 class="center-align">Learn Something</h4>
        <p>
          Looking for a new skill? Trying to find a new hobby? Want to learn how to maintain your house, or fix your car? Find classes in something your interested, or to boost your chances at a job.
        </p>
        <p>
          We have classes for everyone! From teens learning to code to new home owners wanting to fix their toilets. Learning should never stop, so we have classes for every age group, every learning style every type of class you can think of.
        </p>
          <div class="btn amber darken-3">
            <span class="white-text">{{> signUpButton}}</span>
          </div>
      </div>
       <div class="col m6">
        <h4 class="center-align">Teach Something</h4>
        <p>
          Find it hard filling your current classes? Advertise classes, fill them and get valuable feedback. If you are an established company or a freelance instructor or tutor (or if you want to be) you can reach more customers, teach more classes.
        </p>
        <h5 class="center-align">Small Business?</h5>
        <p>
          Or are you a business that would like more clients and prospective employees? Teaching classes is one of the best ways to get to know your clientele. Set up a training program to reduce training costs of new employees, teach your clients that you know what you are doing and get the word spreading that you are the best in the business.
        </p>
        <p>
          If you are a plumber or an electrician you can easily get more clients by teaching people how to do simple work around the house. Teach someone to fish, they will come back to you because you know how fish better than them.
        </p>
        <div class="right-align">
          <div class="btn amber darken-3">
            <span class="white-text">{{> signUpButton}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

