<template name="header">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal darken-3 z-depth-1">
        <a href="/" class="brand-logo center">Class</a>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <ul class="right">
          <li>{{> loginButtons align="right"}}</li>
          {{#if currentUser}}
            <li>{{> notifications}}</li>
          {{/if}}
        </ul>
        <ul class="side-nav" id="slide-out">
          <li>{{> searchbar}}</li>
        </ul>
      </div>
    </nav>
  </div>
</template>